<div ng-controller="businessManagement.wallet.target.form">
<h3 style="margin-left:15px;">{{mode=='edit'?'Edit Target':'Create Target'}}</h3>

<div class="col-md-6">

  <div class="input-group" style="margin-top:24px">
    <label>Add Product </label>
    <input type="text" class="form-control" ng-model="target.product" uib-typeahead="p as p.name for p in productSearch($viewValue)" placeholder="Search and select a Product"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-click="addProducts()" style="margin-top: 24px;">Add</button>
    </span>
  </div>

  <div class="row" style="padding-bottom:20px;padding-top:20px" ng-if="productData.length>0">
    <div class="col-md-4" ng-repeat="p in productData" style="padding-top:10px;">
      <div class="card container-fluid" style="padding-left:0px;position:relative;">
        <div style="position:absolute;right:0px;top:0px;padding:5px;cursor:pointer;">
          <i class="fa fa-times" ng-click="removeProduct($index)"></i>
        </div>
        <div class="col-md-12">
          <strong>#</strong> {{p.pk}}<br>
          <!-- <strong>TRANSPORTER</strong><br> -->
          <strong>Name : </strong> {{p.name}}
        </div>
      </div>
    </div>
  </div>

    <div class="form-group" style="margin-top: 20px;">
      <label>Target Amount </label>
      <input type="number" class="form-control" ng-model="target.targetAmount" placeholder="Enter Target Amount">
    </div>

    <div class="form-group">
      <label>Rewarded Coin</label>
      <input type="number" class="form-control" ng-model="target.achievedCoin" placeholder="Enter Achived Coins">
    </div>

    <div class="form-group">
      <label> Status</label>
      <input type="checkbox"  ng-model="target.status" style="margin:10px">
    </div>

    <div class="form-group">
      <label>Validity</label>
      <div class="input-group">
        <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="target.validity" is-open="date.opened" ng-init="today" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="date.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>

    <button style="margin-top:20px"  class="btn btn-primary " mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes" cancel-text="No" on-confirm="save()" confirm-button-type="primary" cancel-button-type="default"
      >Save</button>
  </div>
</div>
