<div class="container-fluid" style="padding:20px;" ng-controller="sudo.manageUsers.explore">

  <div class="col-md-3" style="border-right:solid 2px #eeeeee;min-height:70vh;">
    <div class="row">
      <div class="container-fluid text-center">
        <img ng-src="{{data.pk | getDP}}" class="img img-circle" style="height:100px;width:100px;margin-bottom:20px;"> <br>
        <span class="text-muted" style="font-size:18px;">{{data.pk | getName }}</span> <br><br>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="row">
        <div class="col-md-5 text-right">
          <label><i class="fa fa-envelope-o"></i> Email ID : </label> <br>
        </div>
        <div class="col-md-7">
          <span>{{data.email}}</span> <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right">
          <label><i class="fa fa-phone"></i> Mobile : </label><br>
        </div>
        <div class="col-md-7">
          <span>{{data.profile.mobile}}</span> <br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="container-fluid">
      <div class="row">
        <h3 style="padding:20px;" class="text-center">Saved Addresses </h3>
        <div class="row text-center text-muted" ng-if="addresses.length==0">
          <h4>No Saved addresses</h4>
        </div>
        <div class="row" ng-repeat = "a in addresses">
          <div class="col-md-2 col-md-offset-1">
            <label>{{a.title}} :</label>
          </div>
          <div class="col-md-8">
            <span>{{a.street}}</span> <span ng-if="a.street">,</span>
            <span>{{a.landMark}}</span> <span ng-if="a.landMark">,</span>
            <span>{{a.city}}</span> <span ng-if="a.city">,</span>
            <span>{{a.state}}</span> <span ng-if="a.state">,</span>
            <span>{{a.country}}</span> <span ng-if="a.country">,</span>
            <span>{{a.pincode}}</span> <span ng-if="a.pincode">,</span>
            <span>{{a.mobileNo}}</span>
          </div>

        </div>
        <!-- <div class="row"> -->
          <!-- <div class="col-md-3 text-right">
            <label>Local Address :</label> <br>
            <i class="fa fa-map-marker fa-3x pull-right" style="color:#eeeeee;"></i>
          </div>
          <div class="col-md-9">
            <span>{{data.localAddressStreet}}<span ng-if="!data.localAddressStreet" class="text-danger">NA</span></span><br>
            <span>{{data.localAddressCity}}<span ng-if="!data.localAddressCity" class="text-danger">NA</span></span><br>
            <span>{{data.localAddressPin}}<span ng-if="!data.localAddressPin" class="text-danger">NA</span></span><br>
            <span>{{data.localAddressState}}<span ng-if="!data.localAddressState" class="text-danger">NA</span></span><br>
            <span>{{data.localAddressCountry}}<span ng-if="!data.localAddressCountry" class="text-danger">NA</span></span><br>
          </div> -->
        <!-- </div> -->
      </div>
      <div class="row">
        <h3 style="padding:20px;" class="text-center">Other Details <button ng-if="!updateProfile"  ng-click="updateData()" class="btn btn-default">  <i class="fa fa-pencil" style="cursor:pointer"></i></button>
        <button ng-if="updateProfile"  ng-click="updateDetails()" class="btn btn-primary">  <i class="fa fa-save" style="cursor:pointer"></i></button> </h3>
        <div class="col-md-10 col-md-offset-1" ng-if="!isStoreGlobal">
          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
                <label> Company :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.Company}} </span>
              <span ng-if="details.Company.length==0" class="text-muted"> NA </span></span>
              <input ng-if="updateProfile" type="text" ng-model="details.Company" class="form-control" >
            </div>
          </div>

          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
                <label> Role :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.designation}} </span>
              <span ng-if="details.designation.length==0" class="text-muted"> NA </span></span>
              <!-- <input ng-if="updateProfile" type="text" ng-model="details.designation" class="form-control" > -->
              <select  ng-if="updateProfile"  class="form-control" ng-model="details.designation">
                <option value="member">member</option>
                <option value="admin">admin</option>
                  <option value="director">director</option>
              </select>
            </div>
          </div>

          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
              <label> Pincode :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.pincode}} </span>
              <span ng-if="details.pincode.length==0" class="text-muted"> NA </span></span>
              <input ng-if="updateProfile" type="text" ng-model="details.pincode" class="form-control" >
            </div>
          </div>

          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
              <label> GST :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.GST}} </span>
              <span ng-if="details.GST.length==0" class="text-muted"> NA </span></span>
              <input ng-if="updateProfile" type="text" ng-model="details.GST" class="form-control" >
            </div>
          </div>

          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
              <label> State Code :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.statecode}} </span>
              <span ng-if="details.statecode.length==0" class="text-muted"> NA </span></span>
              <input ng-if="updateProfile" type="text" ng-model="details.statecode" class="form-control" >
            </div>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1" ng-if="isStoreGlobal">
          <div class="row" style="padding-top:15px">
            <div class="col-md-5">
                <label> Role :</label>
            </div>
            <div class="col-md-7">
              <span ng-if="!updateProfile"><span> {{details.designation}} </span>
              <span ng-if="details.designation.length==0" class="text-muted"> NA </span></span>
              <!-- <input ng-if="updateProfile" type="text" ng-model="details.designation" class="form-control" > -->
              <select  ng-if="updateProfile"  class="form-control" ng-model="details.designation">
                <option value="member">member</option>
                <option value="admin">admin</option>
                  <option value="director">director</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
