<div ng-controller="app.storeList">

  <div style="min-height:50vh;background:red;" class="row">

    <div class="row">
      <div class="col-md-4 bg-black" ng-click="changeTab('first')">
        First Tab
      </div>
      <div class="col-md-4 bg-green" ng-click="changeTab('second')">
        Second Tab
      </div>





    </div>

    <div class="row bg-blue" ng-if="tabData.tab == 'first'" ">
      <h1>Content Section</h1>
    </div>
    <div class="row bg-orange" ng-if="tabData.tab == 'second'" ">
      <h1>Content Section 2</h1>
    </div>




  </div>


































  <input type="text" ng-model="form.searchTxt" name="" value="" ng-enter="refresh()">

  <button type="button" class="btn btn-default" ng-click="refresh()">
    Search
  </button>

  <button type="button" class="btn btn-lg btn-default " ng-click="prev()">Prev</button>
  <button type="button" class="btn btn-lg btn-default " ng-click="next()">Next</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click="sort('displayName')">displayName</th>
        <th ng-click="sort('gstType')">gstType</th>
        <th>Email</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Owner </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="k in data">
        <td>{{k.displayName}}</td>
        <td>{{k.gstType}}</td>
        <td>{{k.sellingPrice}}</td>
        <td>{{k.customizable}}</td>
        <td>{{k.value}}</td>
        <td>{{k.discount}}</td>
        <td > <span class="" style="cursor:pointer;">
          <i class="fa fa-pencil fa-lg" style="margin-top:0px;" ng-if="k.pk" ng-click="openStore(k)"></i>
        </span> <span class="" style="cursor:pointer;">
          <i class="fa fa-info-circle fa-lg" style="margin-top:0px;" ng-click="openStore(k)"></i>
        </span></td>
      </tr>
    </tbody>
  </table>

</div>
