<style media="screen">
  .carouseldots li {
    border: 1px solid #e5e5e5;
  }


  .carousel-indicators li {
    display: inline-block;
    width: 15px!important;
    height: 15px!important;
    margin: 0px!important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #E8E8E8!important;
    border: none!important;
    border-radius: 10px;
    margin: 0px 8px!important;
}
 .carousel-indicators .active {
  display: inline-block;
  cursor: pointer;
  background-color: #0E8CE4!important;
  border-radius: 10px;
}

.curosel_first .carousel-indicators li{
  background-color: #ffffff!important;
  box-shadow: 0 5px 20px rgb(219, 219, 219)!important;
}
.curosel1 .carousel-indicators li{
  background-color: #ffffff!important;
  box-shadow: 0 5px 20px rgb(219, 219, 219)!important;
}


  .wishlist_new {
    display: none;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
    transform: translate(30%, -35%);
  }


  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #b71616 !important;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  .mediaqueryonhomehead {
    font-size: 50px;
  }

  .mediaqueryonhomesubhead {
    font-size: 32px;
  }

  .mediaforimgage1 {
    height: 400px;
  }

.newContainer{
  margin-right:5%;
    margin-left:5%;
}

@media only screen and (max-width:1600px) {

  .newContainer{
    margin-right:auto;
      margin-left:auto;
  }
}


  @media only screen and (max-width:480px) {
    .mediatemp{
      margin-top: -3em;
    }
    .mediaformobilecar1{
      height: 320px;
    }
    .mediaqueryonhome {
      margin: auto;
      text-align: center;
    }

    .mediaqueryonhome img {
      margin-top: 10px;
    }

    .mediaqueryonhomeimg {
      width: 100%;
    }

    .mediaqueryonhomehead {
      font-size: 32px;
    }

    .mediaqueryonhomesubhead {
      margin-top: 10px;
      font-size: 16px;
    }

    .curosel_first .carousel-indicators {
      left: 31%;
      bottom: 0px;
      top: 97%;
    }

    .mediaqueryonhomeheadbtn {
      font-size: 14px !important;
      padding: 5px 20px !important;
      margin-top: 20px !important;
    }

    .mediaqueryonhome_popular {
      height: 30vh !important;
    }

    .mediaofcarrecent {
      margin-left: 0px !important;
    }

    .scrollmenu {
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      outline: none;
    }
    .scrollmenu :focus {outline:0;}

    .scrollmenu::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }

    div.scrollmenu {
      background-color: #ffffff;
      overflow-y: scroll;
      white-space: nowrap;
      cursor: pointer;
    }

    .mobilebtn button {
      display: inline-block;
      color: #6B6B6B;
      text-align: center;
      background: none;
      border: none;
      font-size: 14px;
      padding: 10px 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 600;
    }

    .mobilebtn button:hover {
      border-bottom: 2px solid var(--themeColor);
      color: var(--themeColor);
    }
    .mediaforimgage1 {
      height: 200px;
      width: 100%;
    }
    .mediatemp2{
      height: 230px;
    }
    .mediatemp3{
      margin-top: 0px!important;
    }
    .mediatemp4{
      font-size: 24px!important;
    }
    .mediatemp5{
      padding: 0px!important;
    }
    .mediatemp6{
      padding: 0px!important;
    }
    .mediatemp7{
      height: 300px!important;
    }

    .mediatemp9{
      height:160px!important;
      margin-top: -180%;
      width: 100%!important;
    }
    .mediatemp10{
      display: none;
    }
    .specific .mediaformobilenext_specificpage{
      margin-top: -10px;
    }
    .specificcss1 .mediaformobilenext_specificpage{
      margin-top: -10px;
    }
    .specificcss2 .mediaformobilenext_specificpage{
      padding-top: 1px;
      margin-top: 1px;
    }
    html{
      overflow-x: hidden;
    }



  }
</style>

<div class="row" style="margin-top:15px">
  <div class="col-md-12 mediatemp7" style="background-image: url('/static/images/banner_background.jpg');height:500px;">
    <div class="row">
      <div class="">
        <div id="myCarouselfirst" class="carousel slide curosel_first carouseldots" data-ride="carousel">
          <ol class="carousel-indicators mediatemp10" style="text-align:right">
            <li data-target="#myCarouselfirst" ng-repeat="i in slide.banners" ng-class="{active: ($index === 0)}" data-slide-to="{{$index}}"></li>
          </ol>
          <div class="carousel-inner" style="background:transparent!important;box-shadow:none">
            <div class="item {{($index === 0)?'active':''}}" style="background:transparent!important;box-shadow:none" ng-repeat="i in slide.banners">
              <div class="" style="">
                <div class=" ">
                  <div class="">
                    <div class="col-md-12">
                      <div class="col-md-offset-5 col-md-2 col-xs-12">

                        <div class="" style="padding-top:140px;">

                        <span class="mediaqueryonhomehead" style="color: var(--themeColor);!important;line-height: 1.25;"> {{i.title}} </span>
                        <!-- <h3> <span class="text-muted" style="text-decoration:line-through;margin-top:2%"> $530</span> <span style="color:red"> $460 </span></h3> --><br>
                        <span class="mediaqueryonhomesubhead" style="margin-top:2%"> {{i.subtitle}} </span><br>
                        <button class="mediaqueryonhomeheadbtn" style="padding:10px 35px;border-radius:5px!important;background: var(--themeColor);color:#ffffff;margin-top:2%;border:none;font-size:18px;font-weight:400;color:#fff;" class="btn"
                          ng-click="$state.go('pages' , {title : i.title.split(' ').join('-').toLowerCase()})"> View Details </button>
                        </div>
                      </div>
                      <div class="col-md-5 col-xs-12 mediatemp8">
                        <div class="" style="padding-top:100px;">
                          <img class="mediatemp9" ng-src="{{i.imagePortrait}}" style="height:300px;width:90%;" />

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- <div class="row" style="padding-top:10%;">
          <h1 style="color:#7599b2!important;line-height: 1.25;"> NEW ERA OF SMARTPHONES </h1>
        </div>
        <div class="row" style="padding-top:5%">
          <h3> <span class="text-muted" style="text-decoration:line-through"> $530</span> <span style="color:red"> $460 </span></h3>
        </div>
        <div class="row">
          <h5> Apple Iphone 6s </h5>
        </div>
        <div class="row" style="margin-top:5%"> <button style="padding:15px 30px;border-radius:5px!important;background-color:#0037ff;color:#ffffff" class="btn"> Shop Now </button> </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row hidden-xs">
  <div class="container-fluid newContainer " style="padding-top:30px;padding-bottom:30px">
    <div class="row">
      <div class="col-md-3 " style="padding-right:25px;padding-left:25px;padding-top:25px">
        <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 5px 20px 20px">
          <div class="col-md-3 no-padding">
            <img src="/static/images/Freedelivery.svg" style="height:50px;">
          </div>
          <div class="col-md-9">
            <span style="font-size:18px;color:#000;font-weight:500;">  Free Delivery  </span><br />
            <span class="text-muted" style="font-size:12px;"> from $60 </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 " style="padding-right:25px;padding-left:25px;padding-top:25px">
        <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 5px 20px 20px">
          <div class="col-md-3 no-padding">
            <img src="/static/images/COD.svg" style="height:50px;">
          </div>
          <div class="col-md-9 ">
            <span style="font-size:18px;color:#000;font-weight:500;"> COD  </span><br />
            <span class="text-muted" style="font-size:12px;"> from $60 </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 " style="padding-right:25px;padding-left:25px;padding-top:25px">
        <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 5px 20px 20px">
          <div class="col-md-3 no-padding">
            <img src="/static/images/Customization.svg" style="height:50px;">
          </div>
          <div class="col-md-9">
            <span style="font-size:18px;color:#000;font-weight:500;"> Customization  </span><br />
            <span class="text-muted" style="font-size:12px;"> from $60 </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 " style="padding-right:25px;padding-left:25px;padding-top:25px">
        <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 5px 20px 20px">
          <div class="col-md-3 no-padding">
            <img src="/static/images/off.svg" style="height:50px;">
          </div>
          <div class="col-md-9">
            <span style="font-size:18px;color:#000;font-weight:500;"> 30% Off  </span><br />
            <span class="text-muted" style="font-size:12px;"> from $60 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<div id="owl-ofmobile" class="owl-carousel visible-xs">
  <div style="padding:15px;">
    <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 20px 20px 20px">
      <div class="col-md-3 col-xs-3">
        <img src="/static/images/Freedelivery.svg" style="height:55px;">
      </div>
      <div class="col-md-9 col-xs-9">
        <span style="font-size:18px;color:black;"> <strong> Free Delivery </strong> </span><br />
        <span class="text-muted" style="font-size:12px;"> from $60 </span>
      </div>
    </div>
  </div>
  <div style="padding:15px;">
    <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 20px 20px 20px">
      <div class="col-md-3 col-xs-3">
        <img src="/static/images/COD.svg" style="height:55px;">
      </div>
      <div class="col-md-9 col-xs-9">
        <span style="font-size:18px;color:black;"> <strong> COD </strong> </span><br />
        <span class="text-muted" style="font-size:12px;"> from $60 </span>
      </div>
    </div>
  </div>
  <div style="padding:15px;">
    <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 20px 20px 20px">
      <div class="col-md-3 col-xs-3">
        <img src="/static/images/Customization.svg" style="height:55px;">
      </div>
      <div class="col-md-9 col-xs-9">
        <span style="font-size:18px;color:black;"> <strong> Customization </strong> </span><br />
        <span class="text-muted" style="font-size:12px;"> from $60 </span>
      </div>
    </div>
  </div>
  <div style="padding:15px;">
    <div class="row" style="box-shadow: 0 1px 5px rgba(0,0,0,.1);border: solid 1px#e8e8e8;padding:20px 20px 20px 20px">
      <div class="col-md-3 col-xs-3">
        <img src="/static/images/off.svg" style="height:55px;">
      </div>
      <div class="col-md-9 col-xs-9">
        <span style="font-size:18px;color:black;"> <strong> 30% Off </strong> </span><br />
        <span class="text-muted" style="font-size:12px;"> from $60 </span>
      </div>
    </div>
  </div>
</div>










<div class="row mediatemp">
  <div class="container-fluid newContainer" style="margin-top:60px;">
    <div class="row">
      <div class="col-md-12" style="margin-left:-15px;margin-right:-15px;">
        <div class="row">


        <div class="col-md-4 col-xs-12 col-sm-12" >
          <div class="" style="padding:0 20px 0 20px;margin: 0 0 30px 0;box-shadow: 0 10px 25px rgba(0,0,0,.1);margin:0px 15px;border-radius: 5px;">

          <div class="col-md-12 col-xs-12 mediatemp6">
            <div class="col-md-8 col-xs-8">
              <span class="row" style="font-size: 1.3em;font-weight: 600;color: #212529;text-align: center;">Deals of the Week</span>
            </div>
            <div class="col-md-4 col-xs-4 owl-controls">
              <p id="dealsNav" class="pull-right owl-nav" style="padding-top:25px;font-size:10px;">
                <!-- <span style="margin-right:30px"><i class="fa fa-angle-left" style="font-size:2em;font-weight: 600;line-height: 1.5;color: #666666;"></i></span><span><i class="fa fa-angle-right"
                    style="font-size:2em;font-weight: 600;line-height: 1.5;color: #666666;"></i></span> -->
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <ng-owl-carousel class="owl-theme" owl-items="dealProducts" owl-properties="curosel1_properties" owl-ready="ready($api)">
                <div ng-repeat="a in dealProducts" style="padding:10px;">
                  <div class="anim-in-out anim-zoom-out" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                    <div class="mediatemp5" style="padding:20px;padding-top:0px;">
                      <img class="img" ng-src="{{a.product.displayPicture}}" style="height:30vh" />
                      <div class="" style="padding-top:15px;">
                        <div class="col-md-9 col-xs-9 no-padding">
                          <p style="font-size:14px;margin-bottom:0px;"> {{a.parentType.name | limitTo :  15 }} </p>
                          <p style="font-size:20px;color:#000;"> <strong> {{a.product.name | limitTo :  15}} </strong></p>
                        </div>
                        <div class="col-md-3 col-xs-3 no-padding text-right">
                          <p style="font-size:14px;margin-bottom:0px"><i class="fa {{currency}}"></i>{{a.product.price}}</p>
                          <p style="font-size:20px;color:red;font-weight:500;"> <strong><i class="fa {{currency}}"></i>{{a.product.discount}}</strong></p>
                        </div>
                        <div class="">
                          <div class="col-md-5 col-xs-4 no-padding">
                            <p style="font-size:14px;font-weight:500;margin:0px;color:#000;">Hurry Up</p>
                            <p style="font-size:12px;color: rgba(0,0,0,.5);">Offer ends in</p>
                          </div>
                          <div class="col-md-7 col-xs-8" style="">
                            <div class="row">
                            <div class="flex-container" style="display:flex;margin-right:0px;border:1px solid #ccc;color:black;border-radius:5px;height:45px;">
                              <div class="" style="border-right:1px solid #e5e5e5;margin:10px 0px;width:25%;">
                                <span style="padding:0px 10px;font-size:24px;font-weight:500;line-height:24px;">{{days}}</span>
                              </div>
                              <div class="" style="border-right:1px solid #e5e5e5;margin:10px 0px;width:25%;">
                                <span style="padding:0px 10px;font-size:24px;font-weight:500;line-height:24px;">{{hours}}</span>
                              </div>
                              <div class="" style="border-right:1px solid #e5e5e5;margin:10px 0px;width:25%;">
                                <span style="padding:0px 10px;font-size:24px;font-weight:500;line-height:24px;">{{mins}}</span>
                              </div>
                              <div class="" style="margin:10px 0px;width:25%;">
                                <span style="padding:0px 10px;font-size:24px;font-weight:500;line-height:24px;">{{secs}}</span>
                              </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="flex-container text-center" style="display:flex;">
                              <div class="" style="width:25%;margin-right:0px;">
                                <p style="font-size:8px;padding-top:5px;">DAYS</p>
                              </div>
                              <div class="" style="width:25%;margin-right:0px;">
                                <p style="font-size:8px;padding-top:5px;">HOURS</p>
                              </div>
                              <div class="" style="width:25%;margin-right:0px;">
                                <p style="font-size:8px;padding-top:5px;">MINS</p>
                              </div>
                              <div class="" style="width:25%;margin-right:0px;">
                                <p style="font-size:8px;padding-top:5px;">SECS</p>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="row" style="padding-bottom:5px;">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-owl-carousel>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 hidden-xs" style="padding:0 20px 0 20px;margin: 0 0 0 0;height:700px;">
          <div class="row">
            <div class="col-md-12 hidden-xs">
              <ul class="nav nav-tabs tabfont product_tab1" style="width:100%;border-bottom:0px!important;">
                <li class=" text-center" ng-repeat = "f in firstView.cat" ><a ng-click="showFirstTab(f.name)" style="cursor:pointer;">{{f.name}}</a></li>
                <!-- <li class=" text-center"><a href="#menu1">On Sale</a></li>
                <li class=" text-center"><a href="#menu2">Best Rated</a></li> -->
              </ul>
              <hr style="margin:0px;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active" ng-repeat = "f in firstView.cat" ng-if="tabData == f.name">
                  <div class="row">
                    <div id="myCarousel1" class="carousel slide curosel4 carouseldots" data-ride="carousel">
                      <ol class="carousel-indicators" style="text-align:center;top:615px;">
                        <li data-target="#myCarousel1" data-slide-to="0" class="active" ng-if="f.product.length>8"></li>
                        <li data-target="#myCarousel1" data-slide-to="1" ng-if="f.product.length>8"></li>
                      </ol>
                      <div class="carousel-inner mediaformobilecar1" style="background:transparent!important;box-shadow:none">
                        <div class="item active" style="background:transparent!important;box-shadow:none">
                          <div class="row">
                            <div class="col-md-3 no-padding" ng-repeat="i in f.product.slice(0,4) track by $index" style="min-height:310px;">
                              <product-cards list="i" add-cart="addToCart"></product-cards>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 no-padding" ng-repeat="i in f.product.slice(4,8) track by $index" style="min-height:310px;">
                              <product-cards list="i" add-cart="addToCart"></product-cards>
                            </div>
                          </div>
                        </div>
                        <div class="item" style="background:transparent!important;box-shadow:none" ng-if="f.product.length>6">
                          <div class="row">
                            <div class="col-md-3 no-padding" ng-repeat="i in f.product.slice(8,12) track by $index" style="min-height:310px;">
                              <product-cards list="i" add-cart="addToCart"></product-cards>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 no-padding" ng-repeat="i in f.product.slice(12,16) track by $index" style="min-height:310px;">
                              <product-cards list="i" add-cart="addToCart"></product-cards>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>

<div class="visible-xs" style="margin-top:50px;height:400px;">

<div class="col-md-12 no-padding">
<div class="scrollmenu" style="margin-left:10px;margin-right:10px;">
  <div ng-init="view=1" class="btn-group mobilebtn">
  <button ng-click="view=1">Featured</button>
  <button ng-click="view=2">On Sale</button>
  <button ng-click="view=3">Best Rated</button>


<hr style="border: 2px solid #eeeeee;margin-top:-3px;border-radius:1px;margin-left: -5%;margin-right: -6%;margin-bottom:5px;">
</div>
</div>
</div>






<div ng-if="view==1" style="margin-top:25px;">


  <ng-owl-carousel  class="owl-theme " owl-items="firstView.cat[0].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
    <div class="col-xs-12 specific" ng-repeat="i in firstView.cat[0].product track by $index" style="min-height:300px;width:100%;margin-top:10px;">
      <product-cards list="i" add-cart="addToCart"></product-cards>
    </div>
  </ng-owl-carousel>

</div>
<div ng-if="view==2" style="margin-top:30px;">


  <ng-owl-carousel  class="owl-theme " owl-items="firstView.cat[1].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
    <div class="col-xs-12" ng-repeat="i in firstView.cat[1].product track by $index" style="min-height:300px;width:100%;">
      <product-cards list="i" add-cart="addToCart"></product-cards>
    </div>
  </ng-owl-carousel>

</div>
<div ng-if="view==3" style="margin-top:30px;">


  <ng-owl-carousel  class="owl-theme " owl-items="firstView.cat[2].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
    <div class="col-xs-12" ng-repeat="i in firstView.cat[2].product track by $index" style="min-height:300px;width:100%;">
      <product-cards list="i" add-cart="addToCart"></product-cards>
    </div>
  </ng-owl-carousel>

</div>










</div>
<div class="row" style="margin-top:5%" ng-show="popularProducts.length>0">
  <div class="container-fluid newContainer">
    <div class="row">
      <div class="col-md-2  owl-controls">
        <h4 style="line-height:1.50;color:#000;"> <strong> Popular Products </strong> </h4>
        <p id="trendsNav" class=" owl-nav"></p>
        <p style="color:#0e8ce4;letter-spacing: .1em;;font-size:10px;"> FULL CATALOGUE </p>
      </div>
      <div class="col-md-10">
        <ng-owl-carousel id="rowsAlign" class="owl-theme " owl-items="popularProducts" owl-properties="curosel2_properties" owl-ready="ready($api)">
          <div class="col-md-12 specificcss2" ng-repeat="l in popularProducts" style="min-height:300px;">
            <product-cards list="l" add-cart="addToCart"></product-cards>
          </div>
        </ng-owl-carousel>

        <!-- <div class="anim-in-out anim-zoom-out">
                <div style="padding:20px;padding-top:0px;">
                  <img class="img mediaqueryonhome_popular" ng-src="{{a.product.displayPicture}}" style="height:150px;width:150px;margin:auto;" />
                  <div class="row" style="padding-top:15px">
                    <div class="col-md-12 text-center">
                      <p style="font-size:18px"> {{a.product.name}} </p>
                    </div>
                  </div>
                </div>
              </div> -->

      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="col-md-12" style="background:url('/static/images/background_curosel.png'); background-repeat: no-repeat;padding-bottom:5%;background-size: 100% 100%;">
    <div id="myCarousel" class="carousel slide curosel1 carouseldots" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" ng-repeat="j in subSlide.banners" ng-class="{active: ($index === 0)}" data-slide-to="{{$index}}"></li>
      </ol>
      <div class="carousel-inner" style="background:transparent!important;box-shadow:none">
        <div class="item {{($index === 0)?'active':''}}" style="background:transparent!important;box-shadow:none" ng-repeat="j in subSlide.banners">
          <div class="row" style="padding-top:5%">
            <div class="container-fluid newContainer ">
              <div class="row">
                <div class="col-md-4 col-xs-12 mediatemp2">
                  <!-- <p> Laptops </p> -->
                  <h3 class="mediatemp4" style="color:#000;"> <strong> {{j.title}} </strong> </h3>
                  <p style="font-size:14px"> {{j.subtitle}}</p>
                  <p style="color:yellow">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </p>
                  <button class="mediatemp3" style="padding:10px 35px;border-radius:7px!important;margin-top:15%;background: var(--themeColor);color:#ffffff;border:none;font-weight:400;font-size:18px;" class="btn" click="$state.go('pages' , {title : j.title.split(' ').join('-').toLowerCase()})"> Explore
                  </button>
                </div>
                <div class="col-md-8 col-xs-12">
                  <img class="img mediaforimgage1" ng-src="{{j.imagePortrait}}" style="width:100%;" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="container-fluid newContainer">
    <div class="row  hidden-xs" style="border-bottom:1px solid #787878;">
      <div class="col-md-5">
        <h4 style="color:#000;"> <strong> Hot New Arrivals </strong> </h4>
      </div>
      <div class="col-md-7 pull-right hidden-xs">
        <ul class="nav nav-tabs tabfont pull-right product_tab1" style="width:100%">
          <li class="text-center" ng-repeat = "s in secondView.cat" ><a ng-click="showSecondTab(s.name)" style="cursor:pointer;">{{s.name}}</a></li>
        </ul>
      </div>



    </div>
    <div class="row visible-xs">
      <div class="col-md-5">
        <h4 style="color:#000;"> <strong> Hot New Arrivals </strong> </h4>
      </div>
      <div class="col-md-12 no-padding">
        <div class="scrollmenu" style="margin-left:10px;margin-right:10px;">
          <div class="btn-group mobilebtn" ng-init="view2=1">
            <button ng-click="view2=1">Featured</button>
            <button ng-click="view2=2">Audio and Video</button>
            <button ng-click="view2=3">Laptop and Computers</button>

            <hr style="border: 2px solid #eeeeee;margin-top:-3px;border-radius:1px;margin-left: -5%;margin-right: -6%;margin-bottom:5px;">
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-md-10" style="min-height:600px;">
        <div class="tab-content">
          <div id="menu20" class="tab-pane fade in active" ng-repeat="s in secondView.cat" ng-if="secondtabData == s.name">
            <div class="row">
              <div id="myCarousel12" class="carousel slide curosel4 carouseldots" data-ride="carousel">
                <ol class="carousel-indicators" style="text-align:center">
                  <li data-target="#myCarousel12" data-slide-to="0" class="active" ng-if="s.product.length>12"></li>
                  <li data-target="#myCarousel12" data-slide-to="1" ng-if="s.product.length>12"></li>
                </ol>
                <div class="carousel-inner" style="background:transparent!important;box-shadow:none">
                  <div class="item active" style="background:transparent!important;box-shadow:none">
                    <div class="row">
                      <div class="col-md-2" ng-repeat="i in s.product.slice(0,6) track by $index" style="min-height:310px">
                        <product-cards list="i" add-cart="addToCart"></product-cards>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2" ng-repeat="i in s.product.slice(6,12) track by $index" style="min-height:310px">
                        <product-cards list="i" add-cart="addToCart"></product-cards>
                      </div>
                    </div>
                  </div>
                  <div class="item" style="background:transparent!important;box-shadow:none" ng-if="s.product.length>6">
                    <div class="row">
                      <div class="col-md-2" ng-repeat="i in s.product.slice(12,18) track by $index" style="min-height:310px">
                        <product-cards list="i" add-cart="addToCart"></product-cards>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2" ng-repeat="i in s.product.slice(18,24) track by $index" style="min-height:310px">
                        <product-cards list="i" add-cart="addToCart"></product-cards>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 hidden-xs">
        <div class="row" style="margin-top:90px;">
          <div class="col-md-12" style="padding-right:15px;padding-left:15px;padding-top:15px;">
            <div class="row">
              <div class="col-md-3">
                <span ng-if="secondView.cat[0].product[0].product.discount>0" style=" color:#ffffff;width: 36px;height: 36px;background-color: var(--themeColor);border-radius: 50%;display: inline-block;padding-top:9px;font-size:10px;padding-left:5px;">
                  -{{((secondView.cat[0].product[0].product.price-secondView.cat[0].product[0].product.discount)/secondView.cat[0].product[0].product.price)*100| number:0}}% </span>
                <!-- <span ng-if="!secondView.cat[0].product[0].product.discount" style=" color:#ffffff;width: 36px;height: 36px;;background-color: red;border-radius: 50%;display: inline-block;padding-top:5px;font:14px;"> new </span> -->
              </div>

              <div class="row "
                style="height: 200px;text-align: center;  vertical-align: middle;background-image:url('{{secondView.cat[0].product[0].product.displayPicture}}');background-repeat:no-repeat;background-size:150px 200px;background-position: center; ">
                <!-- <img style="display: block;position: relative;height: 200px;" class="img" src=""> -->
              </div>

              <div class="col-md-3 text-center">
                <span class="wishlist_new"> <i class="fa fa-heart"> </i> </span>
              </div>
            </div>
            <div class="row text-left" style="padding-top:15px;">
              <div class="col-md-12">
                <span style="display:block"> {{secondView.cat[0].product[0].parentType}} </span>
                <span style="font-size:12px"> <strong> {{secondView.cat[0].product[0].product.name}} </strong> </span>
                <span style="font-size:14px;" class="pull-right"> <strong> <i class="fa {{currency}}"></i>{{secondView.cat[0].product[0].product.price}} </strong> </span>
                <p style="color:yellow">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </div>
            <div class="row text-center" style="background: var(--themeColor);padding:10px;color:#ffffff;margin-top:15px;border-radius:5px;">
              <div class="col-md-12">
                <span> Add To Cart </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row visible-xs" style="height:400px;">







      <div ng-if="view2==1" style="margin-top:30px;">


        <ng-owl-carousel  class="owl-theme " owl-items="secondView.cat[0].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
          <div class="specificcss1 col-xs-12" ng-repeat="i in secondView.cat[0].product track by $index" style="min-height:300px;width:100%;margin-top:10px;">
            <product-cards list="i" add-cart="addToCart"></product-cards>
          </div>
        </ng-owl-carousel>

      </div>
      <div ng-if="view2==2" style="margin-top:30px;">


        <ng-owl-carousel  class="owl-theme " owl-items="secondView.cat[1].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
          <div class="col-xs-12" ng-repeat="i in secondView.cat[1].product track by $index" style="min-height:300px;width:100%;">
            <product-cards list="i" add-cart="addToCart"></product-cards>
          </div>
        </ng-owl-carousel>

      </div>
      <div ng-if="view2==3" style="margin-top:30px;">


        <ng-owl-carousel  class="owl-theme " owl-items="secondView.cat[2].product" owl-properties="curosel1mobile_properties" owl-ready="ready($api)">
          <div class="col-xs-12" ng-repeat="i in secondView.cat[2].product track by $index" style="min-height:300px;width:100%;">
            <product-cards list="i" add-cart="addToCart"></product-cards>
          </div>
        </ng-owl-carousel>

      </div>












    </div>


  </div>
</div>
<div class="row" style="background: #eff6fa;padding-top:40px;padding-bottom:4%">
  <div class="container-fluid newContainer">
    <div class="row hidden-xs" style="border-bottom:1px solid #787878;margin-bottom:40px">
      <div class="col-md-5">
        <h4 style="color:#000;"> <strong> Hot Best Sellers </strong> </h4>
      </div>
      <div class="col-md-7 pull-right hidden-xs">
        <ul class="nav nav-tabs tabfont pull-right product_tab" style="width:100%">
          <li class="text-center" ng-repeat = "t in thirdView.cat" ><a ng-click="showThirdTab(t.name)" style="cursor:pointer;"> {{t.name}}</a></li>
          <!-- <li class=" text-center"><a href="#menu11">Audio And Video</a></li>
          <li class=" text-center"><a href="#menu12">Laptop and Computers</a></li> -->
        </ul>
      </div>

    </div>
    <div class="row visible-xs">
      <div class="col-md-5">
        <h4 style="color:#000;"> <strong> Hot Best Sellers </strong> </h4>
      </div>
      <div class="col-md-12 no-padding">
        <div class="scrollmenu" style="margin-left:10px;margin-right:10px;background-color:transparent;">
          <div class="btn-group mobilebtn nav-tabs">
            <a href="#menu10"><button>Top 20</button></a>
            <a href="#menu11"><button>Audio and Video</button></a>
            <a href="#menu12"><button>Laptop and Computers</button></a>

            <hr style="border: 2px solid #eeeeee;margin-top:-3px;border-radius:1px;margin-left: -5%;margin-right: -6%;margin-bottom:5px;">
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12" style="min-height:410px;">
        <div class="tab-content">
          <div id="menu10" class="tab-pane fade in active row" ng-repeat="t in thirdView.cat" ng-if="thirdtabData == t.name">
            <div class="col-md-12">
              <div id="myCarousel13" class="carousel slide curosel2 carouseldots" data-ride="carousel">
                <ol class="carousel-indicators hidden-xs" style="text-align:center">
                  <li data-target="#myCarousel13" data-slide-to="0" class="active" ng-if="t.product.length>8"></li>
                  <li data-target="#myCarousel13" data-slide-to="1" ng-if="t.product.length>8"></li>
                </ol>
                <div class="carousel-inner" style="background:transparent!important;box-shadow:none">
                  <div class="item active" style="background:transparent!important;box-shadow:none">
                    <div class="row">
                      <div class="col-md-3 col-xs-12" ng-repeat="a in t.product.slice(0,4) track by $index" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                        <div class="row"  style="padding:15px;background:#ffffff;margin:10px 0px;border-radius:5px;height:160px;">
                          <div class="col-md-5 col-xs-5" style="background:url('{{a.product.displayPicture}}'); background-repeat: no-repeat;height:130px;background-position:center;background-size:contain;">
                          </div>
                          <div class="col-md-7 col-xs-7">
                            <span> {{a.parentType}} </span>
                            <span style="color:red;" class="pull-right"> <i class="fa fa-heart"></i></span>
                            <p style="font-size:12px;display:block;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"> <strong> {{a.product.name}} </strong> </p>
                            <p><span style="font-size:18px;color:red"> <strong> <i class="fa {{currency}}"></i>{{a.product.discount}} </strong></span>
                            <strike>  <span style="font-size:14px;margin-bottom:0px"> <i class="fa {{currency}}"></i>{{a.product.price}} </span></strike></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-xs-12" ng-repeat="a in t.product.slice(4,8) track by $index" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                        <div class="row" style="padding:15px;background:#ffffff;margin:10px 0px;border-radius:5px;height:160px;">
                          <div class="col-md-5 col-xs-5" style="background:url('{{a.product.displayPicture}}'); background-repeat: no-repeat;height:130px;background-position:center;background-size:contain;">
                          </div>
                          <div class="col-md-7 col-xs-7">
                            <span> {{a.parentType}} </span>
                            <span style="color:red;" class="pull-right"> <i class="fa fa-heart"></i></span>
                            <p style="font-size:12px;display:block;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"> <strong> {{a.product.name}} </strong> </p>
                            <p><span style="font-size:18px;color:red"> <strong> <i class="fa {{currency}}"></i>{{a.product.discount}} </strong></span>
                            <strike>  <span style="font-size:14px;margin-bottom:0px"> <i class="fa {{currency}}"></i>{{a.product.price}} </span></strike></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item" style="background:transparent!important;box-shadow:none" ng-if="t.product.length>8">
                    <div class="row">
                      <div class="col-md-3 col-xs-12" ng-repeat="a in t.product.slice(8,12) track by $index" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                        <div class="row" style="padding:15px;background:#ffffff;margin:10px 0px;border-radius:5px;height:160px;">
                          <div class="col-md-5 col-xs-5" style="background:url('{{a.product.displayPicture}}'); background-repeat: no-repeat;height:130px;background-position:center;background-size:contain;">
                          </div>
                          <div class="col-md-7 col-xs-7">
                            <span> {{a.parentType}} </span>
                            <span style="color:red;" class="pull-right"> <i class="fa fa-heart"></i></span>
                            <p style="font-size:12px;display:block;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"> <strong> {{a.product.name}} </strong> </p>
                            <p><span style="font-size:18px;color:red"> <strong> <i class="fa {{currency}}"></i>{{a.product.price}} </strong></span>
                              <span style="font-size:14px;margin-bottom:0px"> <i class="fa {{currency}}"></i>{{a.product.discount}} </span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-xs-12" ng-repeat="a in t.product.slice(12,16) track by $index" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                        <div class="row " style="padding:15px;background:#ffffff;margin:10px 0px;border-radius:5px;height:160px;">
                          <div class="col-md-5 col-xs-5" style="background:url('{{a.product.displayPicture}}'); background-repeat: no-repeat;height:130px;background-position:center;background-size:contain;">
                          </div>
                          <div class="col-md-7 col-xs-7">
                            <span> {{a.parentType}} </span>
                            <span style="color:red;" class="pull-right"> <i class="fa fa-heart"></i></span>
                            <p style="font-size:12px;display:block;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"> <strong> {{a.product.name}} </strong> </p>
                            <p><span style="font-size:18px;color:red"> <strong> <i class="fa {{currency}}"></i>{{a.product.price}} </strong></span>
                              <span style="font-size:14px;margin-bottom:0px"> <i class="fa {{currency}}"></i>{{a.product.discount}} </span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" style="background: url('/static/images/background2.png');">


  <div class="row" style="background-repeat: no-repeat;padding-top:3%;padding-bottom:3%;">
    <div class="container-fluid newContainer">
      <div class="row">
        <div class="col-md-3 owl-controls" style="padding-top:5%">
          <h4 style="line-height:1.50;color:#000;"> <strong> Trends <br />2019 </strong> </h4>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
          <p id="" class="trendsNav owl-nav"></p>
        </div>
        <div class="col-md-9">
          <ng-owl-carousel class="owl-theme" owl-items="trendProducts" owl-properties="curosel4_properties" owl-ready="ready($api)">
            <div ng-repeat="a in trendProducts track by $index" style="padding:10px;">
              <div class="anim-in-out anim-zoom-out" ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
                <div class="row" style="padding:20px;background:#ffffff;margin:15px">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <span style="color:#ffffff;width: 36px;height: 36px;background: var(--themeColor);border-radius: 50%;display: inline-block;padding-top:5px;font:14px;text-align:center"> new </span>
                      </div>
                      <div class="col-md-6 text-right">
                        <span class="wishlist_new text-center"> <i class="fa fa-heart"> </i> </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="background:url('{{a.product.displayPicture}}'); background-repeat: no-repeat;height:18vh;background-position:center;background-size:contain;">
                      </div>
                    </div>
                    <div class="row" style="padding-top:15px">
                      <div class="col-md-12">
                        <span style="display:block;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"> {{a.parentType.name}} </span>
                        <span style="font-size:12px"> <strong> {{a.product.name | limitTo :  15}} </strong> </span>
                        <span style="font-size:14px;" class="pull-right"> <strong> <i class="fa {{currency}}"></i>{{a.product.price}} </strong> </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </ng-owl-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" style="background:#eff6fa;" ng-if="me.pk">
<div class="row newContainer" style="padding:30px 0 ;" >
  <div class="container-fluid  " class="">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding " style="padding-bottom:20px;border-bottom:1px solid #e5e5e5;height:40px;position:relative">
      <div class="col-md-8 col-sm-12 col-xs-12 vertical_center no-padding">
        <h4 style="font-weight:600;margin:0;color:#000;">Recently Viewed</h4>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 owl-controls vertical_center text-right">
        <div id="customNav" class="col-md-4 col-sm-4 col-xs-4 text-right no-padding owl-nav" style="float:right">
        </div>
      </div>
    </div>
    <div class="col-md-12  col-sm-12 col-xs-12 no-padding" >
      <ng-owl-carousel class="owl-theme " owl-items="recentlyViewed" owl-properties="recentlyView" owl-ready="ready($api)">
        <div class="mediaofcarrecent" ng-repeat="a in recentlyViewed" style="margin:20px 0 10px 20px;border-radius: 8px;padding:25px 15px;position:relative;background:#fff;cursor:pointer;"
          ng-click="openDetails(a.pk,a.product.name.split(' ').join('-'),a.product.serialNo)">
          <div class="anim-in-out anim-zoom-out text-center" style="width:100%">
            <div style="padding:15px 10px;justify-content:center;width:100%;">
              <div style="height:130px;width:115px;margin:0 auto">
                <img style="height:100%" class="img" ng-src="{{a.product.displayPicture}}">
              </div>
            </div>
            <div style="padding-top:15px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow:ellipsis; ">
              <span style="font-weight:600;color:#000;font-size:16px;"><i class="fa {{currency}} "></i> {{(a.product.price).toFixed(2)}}</span><br />
              <span style="color:#000">{{a.product.name}}</span>
            </div>
          </div>
        </div>
      </ng-owl-carousel>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-2 col-md-4" style="margin-top:5%;padding-left:50px">
        <img class="mediaqueryonhomeimg" src="/static/images/appScreenshot@1x.png" style="height:100%;" />
      </div>
      <div class="col-md-4 mediaqueryonhome" style="margin-top:10%;">
        <h4> <strong> Download Systunix </strong> </h4>
        <h4> <strong> App Now </strong> </h4>
        <p> Fast, Simple & Delightful. <br />All it takes is 30 seconds to Download.</p>
        <div class="row">
          <div class="col-md-3">
            <img src="/static/images/googleplay.png" style="height:40px" />
          </div>
          <div class="col-md-3">
            <img src="/static/images/playStore.png" style="height:40px" />
          </div>
        </div>
      </div>
      <div class="col-md-2 text-right hidden-xs" style="padding-right:0px">
        <img src="/static/images/leaves1x.png" style="height:30vh" />
      </div>
    </div>
  </div>
</div>

<div class="row" style="background:#fff;padding:60px 0 ;">
  <div class="col-md-offset-2 col-md-8">
    <div class="" style="height: 130px;border: solid 1px #e8e8e8;box-shadow: 0 1px 5px rgba(0,0,0,.1);padding-left: 97px;padding-right: 97px;position: relative;">
      <div class="" style="position: relative;overflow: hidden;width: 100%;height:100%;padding-top:40px">
        <ng-owl-carousel class="owl-theme " owl-items="brandsImg" owl-properties="brandImages" owl-ready="ready($api)">
          <div ng-repeat="a in brandsImg" style="position: relative;min-height: 1px;width: auto;height: 100%;text-align: center">
            <div class="anim-in-out anim-zoom-out">
              <div style="flex:1;flex-direction:column;justify-content:center;height:45px;align-content:center;">
                <div style="height:100%;text-align: center;display:inline-block">
                  <img class="vertical_center" ng-src="{{a}}" alt="" style="opacity: 1;align-self: center;">
                </div>
              </div>
            </div>
          </div>
        </ng-owl-carousel>
      </div>
      <div class="navCustom left vertical_center" style="position:absolute;left:40px;cursor:pointer;" class=""></div>
      <div class="navCustom right vertical_center" style="position:absolute;right:40px;cursor:pointer;"></div>
    </div>
  </div>
</div>

<div class="row" style="background: #fafafa;padding-top: 60px;padding-bottom: 60px;box-shadow: 0 5px 20px rgba(0,0,0,.1);margin-top:0em">
  <div class="col-md-offset-2 col-md-8">
    <div style="display:flex;" class="send">
      <div style="flex-grow: 0.5;height:50px">
        <span><i class="fa fa-send vertical_center" style="font-size:50px;color: var(--themeColor);"></i></span>
      </div>
      <div style="flex-grow: 0;height:50px">
        <p style="font-size:18px;color: #000;margin:0 0 0px">Sign up for Newsletter</p>
        <p style="font-family: rubik,sans-serif;font-size: 14px;line-height: 1.7;font-weight: 400;color: #828282;">...and receive %20 coupon for first shopping.</p>
      </div>
      <div style="flex-grow: 0.5;height:50px"></div>
      <div style="flex-grow: 9;height:50px">
        <form style="position: relative;background: #fff;border: solid 1px #fff;  border-radius: 5px;" ng-if="!is_subscribed">
          <input type="email" class="newsletter_input" style="padding:0 1em" required="required" placeholder="Enter your email address" ng-model="subs_email">
          <button class="newsletter_button" style="background: var(--themeColor);" ng-click="sendsubscription()">Subscribe</button>
        </form>
        <div class="text-center" ng-if="is_subscribed">
          <span style="font-size:20px;margin-top:8px;"> <i class="fa fa-check" aria-hidden="true" style="color: var(--themeColor);"></i>Thankyou for Subscribing</span>
        </div>
      </div>

      <!-- <div style="flex-grow: 1;height:50px;padding-left:20px">
        <p class="text-uppercase vertical_center" style="color: var(--themeColor);">unsubscribe</p>
      </div> -->
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.nav-tabs a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $("#owl-firstcarouselmob").owlCarousel({

    // Most important owl features
    items : 1,
    itemsMobile : [479,1],
    singleItem: true,
    autoPlay: true,
    stopOnHover: true,
    navigation: false,
    responsiveClass: true,





})

  $("#owl-ofmobile").owlCarousel({

    items: 1,
    itemsMobile: [479, 1],
    singleItem: true,
    autoPlay: true,
    stopOnHover: true,
    navigation: false,
  })




</script>
