<style media="screen">
  .imageemptcart{
  height:70vh;
}
.imagezoom:hover{
  transform: scale(1.5);
}
  @media only screen and (max-width: 480px) {
    .imageemptcart{
      width: 100%;
    }
}
</style>


<div class="container-fluid" style="padding:30px;font-family: var(--fontStyle)!important;{{topLevelMenu?'margin-top:5vh':''}};" ng-if="cartData.length>0">
  <div class="container-fluid bg-white" style="display:block;position:relative;min-height:500px;padding-left:0px;">

    <div ng-if="data.stage == 'review' || data.stage == 'shippingDetails' || data.stage == 'payment'" ng-include="'/static/ngTemplates/checkout.steps.html'"></div>


    <div class="col-md-9">
      <div class="container-fluid" style="margin-top:30px;font-family: var(--fontStyle)!important">
        <div ng-if="data.stage == 'shippingDetails'">
          <div class="row" style="margin:0px;">
            <div class="col-md-8 col-sm-10 col-xs-10" >
                <div class="row" style="margin-bottom:15px;padding-top:20px;">
                  <h5> <span style="color:#5DC177;">Delivery to :</span> {{me.first_name | humanize}} {{me.last_name}}</h5>
                  <div class="col-md-6 col-xs-12 col-sm-6 text-center">
                    <div class="form-group">
                      <h5>{{me.profile.mobile}}</h5>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:15px" ng-if="!saved&&savedAddress.length>0">
                  <div class="row" style="margin-left:0px;margin-right:0px;background-color:var(--themeColor);font-family: var(--fontStyle)!important;background:linear-gradient(135deg, #E3E3E3 0%,#FFF 100%);">
                    <h5 style="padding-left:10px;color:var(--themeColor)"> DELIVERY ADDRESS </h5>
                  </div>
                  <div class="col-md-12" ng-repeat="adr in savedAddress track by $index">
                    <div class="row" style="margin-top:15px">
                      <div class="col-md-1 col-xs-1 col-sm-1">
                        <input ng-model="check" type="radio" name="radio" value="adr.pk" ng-click="ChangeAdd($index,'use')">
                      </div>
                      <div class="col-md-10 col-xs-7 col-sm-10">
                        <div class="row">
                          <strong>{{adr.title}}</strong><br /> {{adr.landMark}} {{adr.street}}, {{adr.city}}, {{adr.state}}, {{adr.country}} - {{adr.pincode}}
                        </div>
                        <div class="row" ng-if="addressview&&$index==idxVal">
                          <h4>Shipping Address</h4>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ldm" ng-model="data.address.mobileNo" placeholder="Enter Mobile Number...">
                          </div>
                          <div class="form-group">
                            <textarea ng-model="data.address.street" class="form-control" id="street" placeholder="Enter street.."></textarea>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ldm" ng-model="data.address.landMark" placeholder="Enter Landmark..">
                          </div>
                          <div ng-if="isStoreGlobal">
                            <div class="row">
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.country" uib-typeahead="c.name as c.name for c in countrySearch($viewValue)" type="text" class="form-control" id="country" placeholder="Enter Country..">
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.state" uib-typeahead="s.name as s.name for s in stateSearch($viewValue, data.address.country.uniqueId)" type="text" class="form-control" id="state" placeholder="Enter State..">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.city" uib-typeahead="c.name as c.name for c in citySearch($viewValue, data.address.state.uniqueId)" type="text" class="form-control" id="city" placeholder="Enter City..">
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div ng-if="!isStoreGlobal">
                            <div class="row">
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.city" type="text" class="form-control" id="city" placeholder="Enter City..">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.state" type="text" class="form-control" id="state" placeholder="Enter State..">
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                  <input ng-model="data.address.country" type="text" class="form-control" id="country" placeholder="Enter Country.." disabled>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom:10px">
                            <div class="hidden-xs col-md-12 col-sm-6">
                              <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk">Update</button>
                              <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk">Cancel</button>
                            </div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-12 ">
                              <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk" style="width:100%">Update</button><br /><br />
                              <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk" style="width:100%">Cancel</button>
                            </div>
                          </div>
                          <div class="checkbox row" style="padding-left:15px">
                            <label><input type="checkbox" value="checked" ng-model="dataToSend.sameAsShipping">&nbsp; Billing Address Same as Shipping</label>
                          </div>
                          <div ng-if="showFields">
                            <h4>Billing Address</h4>
                            <div class="form-group">
                              <textarea ng-model="data.billingAddress.street" class="form-control" id="street" placeholder="Enter street.."></textarea>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" id="ldm" ng-model="data.billingAddress.landMark" placeholder="Enter Landmark..">
                            </div>
                            <div ng-if="isStoreGlobal">
                              <div class="row">
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.country" uib-typeahead="c.name as c.name for c in countrySearch($viewValue)" type="text" class="form-control" id="country" placeholder="Enter Country..">
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.state" uib-typeahead="s.name as s.name for s in stateSearch($viewValue, data.billingAddress.country.uniqueId)" type="text" class="form-control" id="state" placeholder="Enter State..">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.city" uib-typeahead="c.name as c.name for c in citySearch($viewValue, data.billingAddress.state.uniqueId)" type="text" class="form-control" id="city" placeholder="Enter City..">
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div ng-if="!isStoreGlobal">
                              <div class="row">
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.city" type="text" class="form-control" id="city" placeholder="Enter City..">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.state" type="text" class="form-control" id="state" placeholder="Enter State..">
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                  <div class="form-group">
                                    <input ng-model="data.billingAddress.country" type="text" class="form-control" id="country" placeholder="Enter Country..">
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 col-sm-1 col-sm-1" ng-if="$index==idx" ng-click="ChangeAdd($index,'edit')" style="cursor:pointer">
                      <strong><i class="fa fa-pencil fa-2x" style='color:var(--themeColor'></i></strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:15px;padding-bottom:0px" ng-if="!saved">
                  <div class=" btn btn-default" style="margin-top:40px;border:solid 2px var(--themeColor)" ng-click="resetAdd()">
                    Add a New Address
                  </div>
                  <div class="row" ng-if="newAdr" style="padding-left:25px;padding-right:25px">
                    <h4>Shipping Address</h4>
                    <div class="form-group">
                      <input type="text" class="form-control" id="ldm" ng-model="data.address.mobileNo" placeholder="Enter Mobile Number...">
                    </div>
                    <div class="form-group">

                      <textarea ng-model="data.address.street" class="form-control" id="street" placeholder="Enter street.."></textarea>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="ldm" ng-model="data.address.landMark" placeholder="Enter Landmark..">
                    </div>
                    <div ng-if="isStoreGlobal">
                      <div class="row">
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.country" uib-typeahead="c.name as c.name for c in countrySearch($viewValue)" type="text" class="form-control" id="country" placeholder="Enter Country..">
                          </div>
                        </div>

                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.state" uib-typeahead="s.name as s.name for s in stateSearch($viewValue, data.address.country.uniqueId)" type="text" class="form-control" id="state" placeholder="Enter State..">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.city" type="text" uib-typeahead="c.name as c.name for c in citySearch($viewValue, data.address.state.uniqueId)" class="form-control" id="city" placeholder="Enter City..">
                          </div>
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:10px">
                        <div class="hidden-xs col-md-12 col-sm-6">
                          <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk == none">
                            <i class="fa fa-star fa-lg"></i> &nbsp;Save for later use
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk == none">
                            Cancel
                          </button>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                          <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk == none" style="width:100%">
                            <i class="fa fa-star fa-lg"></i> &nbsp;Save for later use
                          </button><br /><br />
                          <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk == none" style="width:100%">
                            <i class="fa fa-close fa-lg"></i> &nbsp;Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                    <div ng-if="!isStoreGlobal">
                      <div class="row">
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                          </div>
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.city" type="text" class="form-control" id="city" placeholder="Enter City..">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.state" type="text" class="form-control" id="state" placeholder="Enter State..">
                          </div>
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-6">
                          <div class="form-group">
                            <input ng-model="data.address.country" type="text" class="form-control" id="country" placeholder="Enter Country.." disabled>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:10px">
                        <div class="hidden-xs col-md-12 col-sm-6" ng-if="showMessage">
                          <span style="color:red">Sorry!! We Don't Service in this Area
                        </div>
                        <div class="hidden-xs col-md-12 col-sm-6">
                          <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk == none">
                            <i class="fa fa-star fa-lg"></i> &nbsp;Save for later use
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk == none">
                            Cancel
                          </button>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-12 " ng-if="showMessage">
                          <span style="color:red">Sorry!! We Don't Service in this Area
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                          <button type="button" class="btn btn-warning" ng-click="saveAdd()" ng-if="data.address.pk == none" style="width:100%">
                            <i class="fa fa-star fa-lg"></i> &nbsp;Save for later use
                          </button><br /><br />
                          <button type="button" class="btn btn-primary" ng-click="cancel()" ng-if="data.address.pk == none" style="width:100%">
                            <i class="fa fa-close fa-lg"></i> &nbsp;Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox row" style="padding-left:15px">
                      <label><input type="checkbox" value="checked" ng-model="dataToSend.sameAsShipping">&nbsp; Billing Address Same as Shipping</label>
                    </div>
                    <div ng-if="showFields">
                      <h4>Billing Address</h4>
                      <div class="form-group">

                        <textarea ng-model="data.billingAddress.street" class="form-control" id="street" placeholder="Enter street.."></textarea>
                      </div>
                      <div class="form-group">

                        <input type="text" class="form-control" id="ldm" ng-model="data.billingAddress.landMark" placeholder="Enter Landmark..">
                      </div>
                      <div ng-if="isStoreGlobal">
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.country" uib-typeahead="c.name as c.name for c in countrySearch($viewValue)" type="text" class="form-control" id="country" placeholder="Enter Country..">
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.state" uib-typeahead="s.name as s.name for s in stateSearch($viewValue, data.billingAddress.country.uniqueId)" type="text" class="form-control" id="state" placeholder="Enter State..">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.city" uib-typeahead="c.name as c.name for c in citySearch($viewValue, data.billingAddress.state.uniqueId)" type="text" class="form-control" id="city" placeholder="Enter City..">
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-if="!isStoreGlobal">
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.pincode" type="text" class="form-control" id="pincode" placeholder="Enter Pincode..">
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.city" type="text" class="form-control" id="city" placeholder="Enter City..">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.state" type="text" class="form-control" id="state" placeholder="Enter State..">
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                              <input ng-model="data.billingAddress.country" type="text" class="form-control" id="country" placeholder="Enter Country.." disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:15px;padding-bottom:0px" ng-if="saved">
                  <div class="row" style="margin-left:0px;margin-right:0px;background-color:var(--themeColor);font-family: var(--fontStyle)!important">
                    <h5 style="padding-left:10px;color:white"> DELIVERY ADDRESS </h5>
                  </div>
                  <div class="row" style="padding-left:15px;padding-top:15px;padding-bottom:15px">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <strong>{{me.first_name}} {{me.last_name}}</strong><br />{{data.address.landMark}} {{data.address.street}}, {{data.address.city}}, {{data.address.state}}, {{data.address.country}} - {{data.address.pincode}}
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                      <strong ng-click="change()" style="cursor:pointer">
                        Change
                      </strong>
                    </div>
                  </div>

                </div>
              <div class="row" style="margin-top:15px">
                <h6 ng-if="errormsg.length>3" style="color:red"> {{errormsg}} </h6>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:55px">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="padding:40px">
        <div ng-include="'/static/ngTemplates/app.ecommerce.sideBox.html'"></div>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top:20px;height:100vh;padding:0px;font-family: var(--fontStyle)!important;{{topLevelMenu?'margin-top:5vh':''}}" ng-if="cartData.length==0">
  <div class="row text-center" style="padding-top:35px">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <img src="static/images/empty-cart.jpg" alt="" class="imageemptcart">
      <br />
      <a style="border:1px solid var(--themeColor);padding:15px;cursor:pointer;color:var(--themeColor);font-family: var(--fontStyle)!important" href="/"> CONTINUE SHOPPING </a>
    </div>
  </div>
</div>
