
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <script>
    $('#multi6').mdbRange({
      width: '100%',
      direction: 'vertical',
      value: {
        min: 100,
        max: 600,
      },
      single: {
        active: true,
        value: {
          step: 1,
          symbol: ''
        },
        counting: false,
        countingTarget: null,
        bgThumbColor: '#4285F4',
        textThumbColor: '#fff',
        multi: {
          active: true,
          value: {
            step: 1,
            symbol: ''
          },
          counting: false,
          rangeLength: 2,
          countingTarget: null,
          bgThumbColor: '#4285F4',
          textThumbColor: '#fff'
        },
      }
    });
  </script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding:20px;">
        <div class="frstdiv">
          <span>Filters</span>
        </div>
        <div class="scnddiv">
          <span>Categories</span>
        </div>
        <div class="" style="padding-bottom:20px;">
          <span style=" font-weight: Bold; font-size:14px;">PRICE</span>


        </div>

        <form style="padding-bottom:30px; ">
          <input id="multi6" style="" class="multi-range" type="range">
        </form>
        <div class="drop " style="padding-bottom:30px; border-bottom: 2px solid lightgrey">
          <button style=" text-align:center; height:29px; width:73px;" class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Min<span class="caret"></span>
          </button>
          <span style="font-weight:10px;"> to </span>

          <button style=" text-align:center;  height:29px; width:88px " class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">5000+<span class="caret"></span></button>
        </div>
        <div class="input" style="font-weight:bold;padding-bottom:40px;border-bottom:2px solid lightgrey; ">

          <input type=checkbox name="" value=""> Faster Delivery
        </div>
        <div class="" style="padding-bottom:20px">
          <p style=" font-weight:bold;"> RAM </p>


        </div>

        <div class="input" style="font-weight:bold; padding-bottom:10px;">
          <input type=checkbox name="" value=""> 6GB & Above<br>
        </div>
        <div class="input" style="padding-bottom:10px; padding-bottom:10px; font-weight:bold; ">
          <input type=checkbox name="" value=""> 4GB<br>
        </div>
        <div class="input" style="padding-bottom:10px; font-weight:bold; ">
          <input type=checkbox name="" value=""> 3GB<br>
        </div>
        <div class="input" style="padding-bottom:10px; font-weight:bold;  ">

          <input type=checkbox name="" value=""> 3GB
        </div>
      </div>

      <div class="col-md-1">

      </div>
      <div class="col-md-7" style="">
        <div class="mob">
          <span class=""> MOBILES</span>


        </div>
        <div class="mob2">
          <span class="mob1" style="margin-right: 10px;"> Sort By</span>
          <span class="mob1" style="margin-right: 10px;"> Popularity</span>

          <span class="mob1" style="margin-right: 10px;"> price-low to high</span>
          <span class="mob1" class="mob1" style="margin-right: 10px;"> price-high to low</span>
          <span class="mob1" style="margin-right: 10px;"> Newest First</span>


        </div>
        <div class="row" style="border-bottom:2px solid lightgrey;">
          <div class="col-md-3">
            <div class="img">
              <img src="/static/images/mob.jpg" width="100px" height="200px" alt="">
              <div class="input" style="padding-bottom:10px; font-size:11px; margin-top:20px;  ">

                <input style="" type=checkbox name="" value="">Add to compare</span>
              </div>



            </div>
          </div>

          <div class="col-md-5" style="padding:10px;">
            <div class="content" style="padding:10px;">
              <i class="fa fa-heart"></i>
              <span>RealMe 5i (Forest Green 64Gb)</span>
              <div class="" style="margin-left:19px; margin-top:10px;">
                <button type="button" style="width:70px; height:30px; " class="btn btn-success" name="button">4.2<span class="glyphicon glyphicon-star"></span></button>
                <span style="font-size:10px; color:lightgrey;">1033 rating & 111 reviews</span>

              </div>
              <div class="" style="margin-top:20px;">
                <ul>
                  <li>4GB RAM | 64GB ROM | </li>
                  <li>16.56 CM(6.52 inch) HD+Display</li>
                  <li>12MP + 8MP + 2MP + 2MP | 8MP front camera</li>
                  <li>5000 mAh Battery</li>
                  <li>Sunrise Design</li>
                  <li>Reverse charging</li>

                </ul>

              </div>




            </div>

          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-2">
            <div class="price" style="padding:20px;">
              <span style=" position:absolute; top:39px;">₹8,999</span><br>
              <span style="text-decoration:line-through; Color:lightgrey; font-size:10px;position:absolute; top:58px;">₹10,000S </span>
              <span style="color:green; font-size:10px;position:absolute; top:57px; left:92px;"> 18%off </span><br>
              <span style="font-weight:bold; font-size:10px; position:absolute; top:72px;">No Cost Emi</span><br>
              <span style="font-weight:bold; font-size:10px; position:absolute; top:84px;">Get By 11 A.m </span>


            </div>

          </div>



        </div>
        <div class="row">
          <div class="col-md-3" style="">
            <div class="img1" style="margin-top: 40px;">
              <img src="/static/images/pro.png" style="width:175px; height:200px; padding-left:50px;"alt="">
              <div class="input" style="padding-bottom:10px; font-size:11px; padding-left:65px;margin-top:30px;  ">

                <input style="" type=checkbox name="" value="">Add to compare</span>
              </div>



            </div>
          </div>

          <div class="col-md-5" style="padding:10px;">
            <div class="content" style="padding:10px;">
              <i class="fa fa-heart"></i>
              <span>RealMe 5i (Forest Green 64Gb)</span>
              <div class="" style="margin-left:19px; margin-top:10px;">
                <button type="button" style="width:70px; height:30px; " class="btn btn-success" name="button">4.2<span class="glyphicon glyphicon-star"></span></button>
                <span style="font-size:10px; color:lightgrey;">1033 rating & 111 reviews</span>

              </div>
              <div class="" style="margin-top:20px;">
                <ul>
                  <li>4GB RAM | 64GB ROM | </li>
                  <li>16.56 CM(6.52 inch) HD+Display</li>
                  <li>12MP + 8MP + 2MP + 2MP | 8MP front camera</li>
                  <li>5000 mAh Battery</li>
                  <li>Sunrise Design</li>
                  <li>Reverse charging</li>

                </ul>

              </div>




            </div>

          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-2">
            <div class="" style="padding:20px;">
              <span style=" position:absolute; top:39px;">₹8,999</span><br>
              <span style="text-decoration:line-through; Color:lightgrey; font-size:10px;position:absolute; top:58px;">₹10,000S </span>
              <span style="color:green; font-size:10px;position:absolute; top:57px; left:92px;"> 18%off </span><br>
              <span style="font-weight:bold; font-size:10px; position:absolute; top:72px;">No Cost Emi</span><br>
              <span style="font-weight:bold; font-size:10px; position:absolute; top:84px;">Get By 11 A.m </span>


            </div>

          </div>



        </div>
      </div>


    </div>

</body>

</html>
