{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app" ng-controller="ecommerce.main" id="main" >
  <head>
    <meta charset="utf-8">
    <title>{{data.seoDetails.title}}</title>

    <base href="/">
    <meta name="theme-color" content=" {{data.color}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{data.seoDetails.description}}"/>
    <link rel="canonical" href="{{data.seoDetails.url}}" />
    <link rel="publisher" href="{{data.seoDetails.publisher}}"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{data.seoDetails.title}}" />
    <meta property="og:description" content="{{data.seoDetails.description}}" />
    <meta property="og:url" content="{{data.seoDetails.url}}" />
    <meta property="og:site_name" content="{{data.seoDetails.site_name}}" />
    <meta property="og:updated_time" content="2018-08-02T07:17:53+00:00" />
    <meta property="og:image" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta property="og:image:secure_url" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta property="og:image:width" content="{{data.seoDetails.width}}" />
    <meta property="og:image:height" content="{{data.seoDetails.height}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{data.seoDetails.description}}" />
    <meta name="twitter:title" content="{{data.seoDetails.title}}" />
    <meta name="twitter:site" content="{{data.seoDetails.site_name}}" />
    <meta name="twitter:image" content="https://{{ request.get_host }}{{data.seoDetails.image}}" />
    <meta name="twitter:creator" content="{{data.seoDetails.twitter_creator}}" />
    <meta property="article:author" content="{{data.seoDetails.author}}" />

    {% if useCDN %}
      <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.css" charset="utf-8">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/bootstrap.paper.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/rzslider.min.css' %}" charset="utf-8">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/angular-aside.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/anim-in-out.css' %}" charset="utf-8">


    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}" charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/custom/base.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/ecommercenext.css' %}" charset="utf-8">

    <style media="screen">
      :root {--fontStyle: {{data.font}};--themeColor: {{data.color}};}
@media only screen and (max-width:480px){
  .mediaforheart{
    width: 30px!important;
    height:30px!important;
  }
  .mediaforcart{
    width: 30px!important;
    height:30px!important;
  }
  .mediatormborder{
    border: none!important;
  }



}
    </style>



  </head>
  <body   style="background-color:white;overflow-x: hidden;" >

    {%  verbatim %}
    <!-- <div class="row text-center" style="margin:5em;" ng-hide="!preloader" class="ng-cloak">
      <img  style=" height:10vh;" class="img" src="/static/images/ZNeT.gif">
      <h1  class="text-center text-muted">Loading...</h1>
    </div>
    <div ng-show="!preloader" class="ng-cloak">
    <div flash-message="4000" style="position:fixed;top:70px;right:10px;z-index:9999;min-width:300px;"></div>
    </div> -->
    <div class="container-fluid">

    <div class="row hidden-xs" id="hidemeinallpage">
      <div class="row hidden-xs hidden-sm">
        <div>
            <div class="container-fluid newContainer ">
              <!-- header_top2 -->
              <div class="row  header_top2" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3 col-xs-4 col-sm-3 no-padding" style="margin:1% 0%;">
                  <img  ng-click="$state.go('ecommerce')" style=" width:96%;cursor:pointer;" class="img" src="/static/images/SYSTUNIX_logo_dark.svg">
                </div>
                <div class="col-md-4 hidden-xs hidden-sm" style="margin:1.8% 0%;">
                  <div class="rounded_search">
                    <!-- <input type="text" class="form-control form_control_mon" placeholder="Search" style="border-radius:10px 0px 0px 10px;" ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}"
                      typeahead-template-url="/static/ngTemplates/app.ecommerce.search.typehead.new.html" style="width:100%">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary"> <i class="fa fa-search"> </i> </button> -->
                      <input type="text" name="" value=""  ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}"
                        typeahead-template-url="/static/ngTemplates/app.ecommerce.search.typehead.new.html" style="background-color:#F1F2F7;box-shadow:none;padding:9px 15px;border-radius:25px;width:99%;font-size:14px;">
                      <button type="button" name="button" style="background-color:#31CA8A;border-radius:30px;border:none;padding-top:6px;padding-left:25px;padding-right:25px;padding-bottom:8px;margin-left:-70px;"><i class="fa fa-search" aria-hidden="true" style="color:#fff;"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-2  col-xs-4 col-sm-3 add_cart1" ui-sref="account.saved" style="cursor:pointer;margin-top:0.5%;">
                  <div class="row" ng-if="me.pk" style="margin:1% 0%;">
                    <div class="col-md-5 col-sm-4 col-xs-4" style="padding:10px;">
                      <span><img src="/static/images/WishListIcon.png" style="width:80%"/> <span class="cart_count" style="background: var(--themeColor);right:8px;" ng-if="inFavourite.length!=0"> {{inFavourite.length}} </span> </span>
                    </div>
                    <div class="col-md-7 col-sm-8 col-xs-8 no-padding" style="margin:10% 0%;">
                      <span> <strong class="hidden-xs" style="color:#000;"> WishList <br> </strong> </span>
                    </div>
                  </div>
                </div>
                <div class=" col-md-2 col-xs-4 col-sm-3 add_cart1" style="margin-top:0.5%;">
                  <div class="row" ng-click="me.pk?$state.go('checkout', {pk: 'cart'}):loginPage();" style="cursor:pointer;margin:1% 0%;">
                    <div class="col-md-5 col-sm-4 col-xs-4" style="padding:10px;">
                    <span><img src="/static/images/CartIconUnfill.png" style="width:80%"/><span class="cart_count" style="background: var(--themeColor);">{{me.pk?inCart.length: addToCart.length}}</span></span>
                    </div>
                    <div class="col-md-7 col-sm-8 col-xs-8 no-padding" style="margin:10% 0%;">
                      <span > <strong class="hidden-xs" style="color:#000;"> Cart <br> </strong> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-sm-12 col-xs-12 hidden-md hidden-lg no-padding" >
            <div class="container" style="padding:20px 0 ">
              <div class="row">
                <div class="col-sm-4 col-xs-4">
                  <img class="img-responsive" ng-click="$state.go('ecommerce')" style="cursor:pointer"  src="/static/images/company_icon.svg">
                </div>
                <div class="col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-3"  ng-if="me.pk" ui-sref="account.saved">
                  <span style="display:inline;"><img  class="img-responsive mediaforheart" src="/static/images/WishListIcon.png" style="width:20px;height:20px;display:inline;"/></span>
                  <span class="text-muted"> {{inFavourite.length}} </span>
                </div>
                <div class="col-sm-3 col-xs-3 ">
                  <span style="position:relative"><img class="mediaforcart" src="/static/images/CartIconUnfill.png" style="width:20px;height:20px"/></span>
                  <span class="" style="position:absolute;top:6px;right:44px;width:21px;height:21px;background-color:#0037ff;color:#fff;border-radius: 50%;text-align: center;">{{me.pk?inCart.length:0}}</span>
                  <span class="text-muted" style="margin-left:10px;"> {{me.pk?inCart.length:0}} </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row" id="newheader" style="position: sticky;top: 0;z-index: 110 ;">
      <div class="hidden-xs hidden-sm" style="box-shadow: 0 5px 40px rgba(0,0,0,.1);background: #fff;font-size: 18px;font-weight: 400;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <!-- #fc6e44 ng-if="showDrop ng-click="showDrop =!showDrop""-->
                <div class="col-md-2">
                  <img id="logoinnav" ng-click="$state.go('ecommerce')" style=" height: 60px;cursor:pointer;display:none;width:100%;" class="img" src="/static/images/SYSTUNIX_logo_dark.svg">
                </div>
              <div class="col-md-2 dropdown1" style="padding:15px 25px;background:var(--themeColor);cursor:pointer;" >
                <div class="row">
                  <div class="col-md-12">
                    <div class=" ">
                      <div>
                        <!-- <span style="color:#fff;"> <i class="fa fa-bars" aria-hidden="true" style="padding-right:15px"></i>  CATEGORIES </span> -->
                        <div ng-click="showcat()" style="color:#fff;padding-left:10px;" >
                          <div style="">
                            <div class="dropbtn" style="font-size:16px ;" ><i class="fa fa-bars" style="font-size:20px;margin-right:15px;"></i><span style="margin-left:10px;">CATEGORIES</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="dropdown-content" id="catpositionfetch"  style="background-color:#ffffff;display :none" ng-mouseenter="onDropdownEnter = true;"  ng-mouseleave="onDropdownEnter = false">
                    <ul class="list-unstyled" style="margin-bottom:0">
                      <li ng-repeat="c in categoriesList track by $index"  ng-mouseenter="selectedOne(c,$index)" ng-click="$state.go('categories' , {name : c.alias.split(' ').join('_')})" style="transition: all 200ms ease;">{{c.name}}</li>
                    </ul>
                  </div>
                  <div class="dropdownChild" ng-mouseenter="onChildEnter = true"  ng-mouseleave="onChildEnter = false" ng-show="onDropdownEnter||onChildEnter" style="min-height:469px;">
                    <ul class="list-unstyled" style="margin-bottom:0;border-bottom:1px solid #e5e5e5;">
                      <li ng-repeat="child in childData.child" class="" ng-click="$state.go('categories' , {name : child.alias.split(' ').join('_')})" style="min-height: 47px;transition: all 200ms ease;">{{child.name}}</li>
                    </ul>
                  </div>
                </div>




            <div class="col-md-1 text-muted" style="padding-top:12px;padding-bottom:12px">

                    <!-- <div>
                      <span style="font-size:0.98vw"> Super Deals </span>
                    </div> -->

            </div>

            <div class="col-md-3">
              <div class="rounded_search" id="searchinnav" style="margin-top:8px;display:none;">
                <!-- <input type="text" class="form-control form_control_mon" placeholder="Search" style="border-radius:10px 0px 0px 10px;" ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}"
                  typeahead-template-url="/static/ngTemplates/app.ecommerce.search.typehead.new.html" style="width:100%">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary"> <i class="fa fa-search"> </i> </button> -->
                  <input type="text" name="" value=""  ng-model="searchProduct.product" uib-typeahead="p as p.name for p in genericProductSearch($viewValue)" placeholder="{{settings.searchField}}"
                    typeahead-template-url="/static/ngTemplates/app.ecommerce.search.typehead.new.html" style="background-color:#F1F2F7;box-shadow:none;padding:9px 15px;border-radius:25px;width:89%;font-size:14px;">
                  <button type="button" name="button" style="background-color:#31CA8A;border-radius:30px;border:none;padding-top:4px;padding-left:25px;padding-right:25px;padding-bottom:6.5px;margin-left:-70px;"><i class="fa fa-search" aria-hidden="true" style="color:#fff;"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-2 text-muted " style="padding-top:12px;padding-bottom:12px">
              <div class="row">
                <div class="col-md-12">
                  <div class="" style="margin-right:0px;font-size:0.98vw">
                    <div class="">
                      <span ng-if="!me.pk" ng-click="registerPage()" style="cursor:pointer;float:right"> <img src="/static/images/RegisterIcon.png" style="height:30px;font-size:0.98vw"/> Register </span>
                    </div>
                    <div class="" style="margin-right:15px;">
                      <span ng-click="loginPage()" ng-if="!me.pk" style="cursor:pointer;float:right">  <img src="/static/images/LoginIcon.png" style="height:30px;font-size:0.98vw"/> Login </span>
                      <!-- <span ng-click="logoutPage()" ng-if="me.pk" style="cursor:pointer">  <img src="/static/images/LoginIcon.png" style="height:30px"/> Logout </span> -->
                      <span ng-if="me.pk" style="cursor:pointer;float:right" ng-click="headerSmallProfile()">  <img src="/static/images/LoginIcon.png" style="height:30px"/>   {{me.username}}    </span>

                    </div>
                    <div class="dropdown-content" id="idDropdownProfile" ng-show="onDropdownEnterProfile" style="background-color:#ffffff;width:67%;display:block;top: 145%;padding:0px 30px;left:35%;"  >

                      <ul class="list-unstyled text-muted" id="horizontal" style="margin-bottom:0;text-align: left;">
                        <li style="cursor:pointer" ng-click="$state.go('account.orders');headerSmallProfile()">Orders </li>
                        <li style="cursor:pointer" ng-click="$state.go('account');headerSmallProfile()">Profile </li>
                          <li style="cursor:pointer" ng-click="$state.go('account.support');headerSmallProfile()">Support </li>
                        <li style="cursor:pointer" ng-click="logoutPage()">Logout </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 no-padding" style="margin-top:15px;">
              <div class="" id="wishicons" style="display:none;padding-right:10px;">


                <div class="col-md-6 no-padding"  ng-if="me.pk"  ui-sref="account.saved" >
                  <img class="pull-left" src="/static/images/WishListIcon.png" style="width:30px"/><span>{{inFavourite.length}}</span>
                </div>
                <div class="col-md-6 no-padding" ng-click="me.pk?$state.go('checkout', {pk: 'cart'}):loginPage();" style="cursor:pointer">
                  <img class="pull-left" src="/static/images/CartIconUnfill.png" style="width:30px;margin-left:10px;"/><span>{{me.pk?inCart.length: addToCart.length}}</span>

                </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 visible-xs no-padding" style="background:var(--themeColor);height:45px;"  ng-if="$state.current.name != 'search'">
        <!-- <div class="col-sm-6 col-xs-6 no-padding dropdown1" style="padding-top:10px;padding-bottom:10px;background:var(--themeColor);cursor:pointer;" >
          <div style="color:#fff;text-align: left;margin-left:10px" class="dropbtn" ng-click="headerSmall()">
            <i class="fa fa-bars"></i><span style="margin-left:10px;">CATEGORIES</span>
          </div>
          <div class="dropdown-content" id="idDropdown" ng-show="onDropdownEnter" style="background-color:#ffffff;width:100%;display:block;"  >
            <ul class="list-unstyled " id="horizontal" style="margin-bottom:0;text-align: left;">
              <li  ng-repeat="c in categoriesList " >
                <span ng-click="headerSmall();$state.go('categories' , {name : c.alias.split(' ').join('_')});">{{c.name}}</span>
                <i ng-click="selectedDropdown(c);"  class="fa fa-chevron-right "></i>
             </li>
            </ul>
          </div>
          <div class="dropdownChild" ng-show="onChildEnter " >
            <ul class="list-unstyled" style="margin-bottom:0;" >
              <li ng-repeat="child in childData.child" class="" ng-click="headerSmall();$state.go('categories' , {name : child.alias.split(' ').join('_')})" style="font-size: 13px;line-height: 36px;">{{child.name}}</li>

            </ul>
          </div>
        </div> -->

        <div class="col-xs-10 no-padding">
        <a href="/home/">  <img class="pull-left" ng-src="{{ICON_LOGO}}" alt="" style="height:45px;Width:60%;"></a>

        </div>
        <div class="col-xs-2">

          <i class="fa fa-search pull-right" aria-hidden="true" ng-click="$state.go('search')" style="color:#fff;font-size:20px;margin-top:10px;"></i>

        </div>


        <!-- <div class="col-sm-6 col-xs-6 no-padding " style="padding-top:10px;padding-bottom:10px;cursor:pointer;background:var(--themeColor);" >
          <div style="color:#fff;text-align: right;margin-right:10px" class="dropbtn" ng-click="menuDropdown = !menuDropdown;onDropdownEnter=false;onChildEnter=false">
            <i class="fa fa-bars"></i><span style="margin-left:10px;">Menu</span>
          </div>

        </div>
        <div class="col-xs-12 col-sm-12 page-menu {{menuDropdown?open:''}}"   style="background-color:#ffffff;height:{{menuDropdown==true?'auto':0}}" >
          <div class="container">
            <ul class="list-unstyled page-menu-content"  style="margin-bottom:0;height:{{menuDropdown==true?auto:0}}" >
              <li>
                <span> Super Deals </i> </span>
              </li>
              <li><span> Contact </span></li>
              <li><span> Register </span></li>
              <li>
                <span ng-click="loginPage()" ng-if="!me.pk" style="cursor:pointer">  <img src="/static/images/LoginIcon.png" style="height:30px"/> Login </span>
                <span ng-click="logoutPage()" ng-if="me.pk" style="cursor:pointer">  <img src="/static/images/LoginIcon.png" style="height:30px"/> Logout </span>
              </li>
            </ul>
          </div>
        </div> -->

      </div>
    </div>
    <div ng-controller="ecommerce.body">
       <div ui-view class="anim-in-out anim-fade" data-anim-speed="600" ></div>
     </div>

<style media="screen">
  .overon{
    z-index: 1;
  }
</style>
     <div class="mobile-footer visible-xs" style="height:60px;position:fixed;bottom:0px;background-color:#fff;width:100%;left:0px;z-index:9;border-top:1px solid var(--themeColor);"  ng-if="$state.current.name !='details'">
       <div class="flex-container" style="display:flex; flex-basis: 0;cursor:pointer;margin-right:0px;">
         <div class="" style="width:33.33%;margin-right:0px;">
           <img src="" alt="">
           <img src="static/images/User.svg" alt="" style="width:18px;margin-top:10px;" ng-click="me.pk?$state.go('account'):loginPage();">
           <p>Account</p>
         </div>
         <div class="" style="width:33.33%;margin-right:0px;">
           <img src="static/images/Cart.svg" alt="" style="width:20px;margin-top:15px;" ng-click="me.pk?$state.go('checkout', {pk: 'cart'}):loginPage();">
           <p>Cart</p><span class="cart_count text-center" style="background: var(--themeColor);right:0px;left:50%;bottom:35px;height:18px;width:18px;">{{me.pk?inCart.length: addToCart.length}}</span>
         </div>
         <div class="" ng-click="$state.go('categories_mobile')" ng-if="$state.current.name !='details'" style="width:33.33%;margin-right:0px;">
           <img src="static/images/Category.svg" alt="" style="width:20px;margin-top:15px;">
           <p>Category</p>
         </div>
         <div class="" ng-if="$state.current.name =='details'"  style="width:33.33%;margin-right:0px;">
          <a href=" " style="text-decoration:none;color:inherit;"> <img src="static/images/home.svg" alt="" style="width:20px;margin-top:12px;">
           <p>Home</p></a>
         </div>
       </div>
     </div>


    <div class="row" style="background: var(--themeColor);color:white;" class="footer">
      <footer class="footer no-padding">
        <div class="container-fluid  no-padding" style="padding: 50px">
          <div class="row no-padding" style="margin:0">
            <!-- <div class="col-md-2">
              <h4>ABOUT</h4>
              <span ng-repeat="p in bottomMenuPages1">
                <span style="cursor:pointer;font-size:16;color:#fff" ng-click="$state.go('pages' , {title : p.title.split(' ').join('-').toLowerCase()})">{{p.title}}</span> <br>
               </span>
              <ul class="list-unstyled">
                <li
                  <a href="#!">Contact Us</a>
                </li>
                <li>
                  <a href="#!">About Us</a>
                </li>
                <li>
                  <a href="#!">Careers</a>
                </li>
                <li>
                  <a href="#!">Stories</a>
                </li>
                <li>
                  <a href="#!">Press</a>
                </li>
              </ul>

            </div>
            <div class="col-md-2">
              <h4 >HELP</h4>
              <ul class="list-unstyled footer_list">
                <li>
                    <a href="#!">Payments</a>
                </li>
                <li>
                  <a href="#!">Shopping</a>
                </li>
                <li>
                  <a href="#!">Cancellation & Returns</a>
                </li>
                <li>
                  <a href="#!">FAQ</a>
                </li>
                <li>
                  <a href="#!">Report Infringement</a>
                </li>
              </ul>

            </div>
            <div class="col-md-2">
              <h4>POLICY</h4>
              <ul class="list-unstyled footer_list">
                <li>
                    <a href="#!">Return Policy</a>
                </li>
                <li>
                  <a href="#!">Terms Of Use</a>
                </li>
                <li>
                  <a href="#!">Security</a>
                </li>
                <li>
                  <a href="#!">Privacy</a>
                </li>
                <li>
                  <a href="#!">Sitemap</a>
                </li>
                <li>
                  <a href="#!">EPR Compliance</a>
                </li>
              </ul>

            </div> -->
            <div class="col-md-3">
              <img src="{{ICON_LOGO}}" alt="" style="width:100%;">
            </div>


            <div class="col-md-2">
              <br><br>
              <span ng-repeat="p in bottomMenuPages1">
                <span style="cursor:pointer;font-size:16;color:#fff" ng-click="$state.go('pages' , {title : p.title.split(' ').join('-').toLowerCase()})">{{p.title}}</span> <br>
               </span>
               <span ng-repeat="p in bottomMenuPages2">
                 <span style="cursor:pointer;font-size:16;color:#fff" ng-click="$state.go('pages' , {title : p.title.split(' ').join('-').toLowerCase()})">{{p.title}}</span> <br>
                </span>
            </div>




            <div class="col-md-2">
              <h4>SOCIAL</h4>
              <ul class="list-unstyled footer_list">
                <li>
                    <a href="#!">Facebook</a>
                </li>
                <li>
                  <a href="#!">Twitter</a>
                </li>
                <li>
                  <a href="#!">YouTube</a>
                </li>
              </ul>

            </div>
            <div class="col-md-2 mediatormborder" style="border-left:1px solid #6f6f6f">
              <h4>Mail Us</h4>
              <ul class="list-unstyled footer_list">
                <li>
                    <span>4th Floor, <br/>Venkateshwara Heritage, <br/> Kudlu Premium Apartment, <br/> Hosa Rd, opp. Sai Poorna Luxuria, <br/>Sai Meadows, Kudlu, Bengaluru, Karnataka 560068</span>
                </li>
              </ul>

            </div>
            <div class="col-md-2">
              <h4>Registered Office Address:</h4>
              <ul class="list-unstyled footer_list">
                <li>
                    <span>4th Floor, <br/>Venkateshwara Heritage, <br/> Kudlu Premium Apartment, <br/> Hosa Rd, opp. Sai Poorna Luxuria, <br/>Sai Meadows, Kudlu, Bengaluru, Karnataka 560068</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid #6f6f6f;"/>
        <div class="text-center" style="height:56px;padding: 20px 0;">
        <p >Copyright ©2019 All rights reserved</p>
        </div>
        <div class="visible-xs" style="height:60px;">

        </div>
      </footer>
    </div>
  </div>


    {%  endverbatim %}


    {% if useCDN %}
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.9/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <!-- <script src="https://cdn.jsdelivr.net/angularjs/1.4.7/angular-animate.min.js"></script> -->
      <script src="https://cdn.jsdelivr.net/momentjs/2.11.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/1.0.3/ngMeta.min.js"></script>
    {% else %}
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/angular.min.js' %}"></script>
      <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'js/angular-sanitize.min.js' %}"></script>
      <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
      <!-- <script src="{% static 'js/angular-animate.min.js' %}"></script> -->
      <script src="{% static 'js/autobahn.min.js' %}"></script>
      <script src="{% static 'js/moment.js' %}"></script>
      <script src="{% static 'js/rzslider.min.js' %}"></script>
      <script src="{% static 'js/ngMeta.min.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/datetimepicker.js' %}"></script>
    <script src="{% static 'js/angular-flash.js' %}"></script>
    <script src="{% static 'js/ng-tags-input.min.js' %}"></script>
    <!-- <script src="{% static 'js/anim-in-out.js' %}"></script> -->
    <script src="{% static 'js/angular-bootstrap-confirm.min.js' %}"></script>
    <!-- Custom JS files -->
    <script type="text/javascript">
      var wampServer = '{{wampServer}}';
      var wampBindName = "{{user.username}}";
      var ICON_LOGO = "{{data.icon_logo}}";
      var BRAND_TITLE = "{{data.brand_title}}";
      var INVENTORY_ENABLED = "{{data.inventory}}";

        var x = "Total Width: " + screen.width + "px";
        console.log(x,'sizesizesizesizesize');

      {% if  user.is_superuser %}
      var MODE = "admin";
      {% endif %}
      {% if not user.is_superuser %}
      var MODE = "user";
      {% endif %}
      {% for s in data.settings %}
        {% if s.fieldType == 'value' %}var settings_{{s.name}} = "{{s.value}}";{% endif %}
        {% if s.fieldType == 'flag' and s.flag %}var settings_{{s.name}} = true;{% endif %}
        {% if s.fieldType == 'flag' and not s.flag %}var settings_{{s.name}} = false;{% endif %}
      {% endfor %}



    </script>
    <script src="{% static 'js/app.ecommerce.next.js' %}"></script>



    <script type="text/javascript">
    $('.nav-tabs a').click(function(){
      $(this).tab('show');
      })

    </script>
    <script src="{% static 'js/custom/wampProcessors.js' %}"></script>
    <script src="{% static 'js/custom/nativeJS.js' %}"></script>
    <script src="{% static 'js/custom/services.js' %}"></script>
    <script src="{% static 'js/custom/directives.js' %}"></script>
    <script src="{% static 'js/custom/directive.table.js' %}"></script>
    <script src="{% static 'js/custom/directives.native.js' %}"></script>
    <script src="{% static 'js/custom/filters.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/angular-owl-carousel-2.js' %}"></script>
<script src="http://localhost:8080/script/chatter-n7GvurFfpWlf90pS0HGYrLWWrixiaaFw0YPS8fUieMk=.js"></script>



  </body>
</html>
